
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="mb-4">Welcome to Our System</h2>
            <p>Please choose an option to continue:</p>

            <div class="d-grid gap-2">
                <a asp-controller="User" asp-action="Register" class="btn btn-primary btn-lg">Register</a>
                <a asp-controller="User" asp-action="Login" class="btn btn-success btn-lg">Log In</a>
            </div>
        </div>
    </div>
</div>